{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/contato.css'%}" rel="stylesheet" type="text/css"/>
</head>


<body>

  <header>

    <nav>
            
            
      <div class="hamburger-menu">
<input id="menu__toggle" type="checkbox" />




<label class="menu__btn" for="menu__toggle">
<span></span>
</label>

<ul class="menu__box">
 
 <li><a class="menu__item" href="/oquee">O que é Bulying</a></li>
 <li><a class="menu__item" href="/">Tipos de bullying</a></li>
 <li><a class="menu__item" href="/bulyn">Como combater o Bulying</a></li>
  <li><a class="menu__item" href="/sobre">Sobre</a></li>
  <li><a class="menu__item" href="/contato">Contato</a></li>
  <li><a class="menu__item" href="/criadores">Criadores</a></li>
  
               
<div class="wrapper">
<ul>

<li class="instagram"><a href="https://instagram.com/asasdaliberdade_apoio?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>    

</ul>
</div>        

</ul>



</div>
  </nav>




  </header>

  <div class="titulo">

    <h1>Como combater o Bulying</h1>
  </div>


<class class="tudo">

  <div class="sobre">
    <h3>AUTO DEFESA</h3>
<h3>1-Ignore a outra pessoa se conseguir;</h3>
<h3>2-Diga, em voz em alta para demonstrar mais autoconfiança, que seu agressor deverá parar de importuná-lo;</h3>
<h3>3-Mantenha uma expressão séria para que o outro não tenha o prazer de vê-lo abalado;</h3>
<h3>4-Converse com o valentão sem demonstrar medo ou raiva;</h3>
<h3>5-Concorde com a pessoa para tirar o poder das mãos dela; </h3>
<h3>6-Rebata os comentários do valentão com um pouco de bom humor;</h3>
<h3>7-Converse com um adulto depois de ser confrontado pelo valentão.</h3>
  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>
<class class="tudo">

  <div class="sobre">
    <h3>EM CASO DE BRIGA</h3>
<h3>1-Tente afastar-se para evitar uma briga. </h3>
<h3>2-Cerque-se de amigos para não se sentir isolado.</h3>
<h3>3-Mantenha-se firme para não cair. </h3>
<h3>4-Mantenha as mãos próximas do rosto para bloquear os golpes do agressor.</h3>
<h3>5-Só revide em último caso". </h3>
  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>

<class class="tudo">

  <div class="sobre">
    <h3>COMO AJUDAR UM AMIGO QUE SOFRE BULLYING</h3>
<h3>"Interferindo na confusão</h3>
<h3>1-Peça que o agressor pare.</h3>
<h3>2-Ofereça apoio ao amigo.</h3>
<h3>3-Ajude seu amigo a se manter seguro.</h3> 
<h3>4-Peça ajuda a outros amigos.</h3>
<h3>5-Seja uma pessoa exemplar e tome atitudes ativas para combater o bullying".</h3>
  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>

  
  




 <footer>
    <div id="logo">
        <img src="https://cdn.discordapp.com/attachments/751847981484867684/1023711520317771817/asas_da_liberdade_.png" alt="">
    </div>

  </footer>
</body>
</html>