{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/contato.css'%}" rel="stylesheet" type="text/css"/>
</head>


<body>

  <header>

    <nav>
            
            
      <div class="hamburger-menu">
<input id="menu__toggle" type="checkbox" />




<label class="menu__btn" for="menu__toggle">
<span></span>
</label>

<ul class="menu__box">
 
 <li><a class="menu__item" href="/oquee">O que é Bulying</a></li>
 <li><a class="menu__item" href="/">Tipos de bullying</a></li>
 <li><a class="menu__item" href="/bulyn">Como combater o Bulying</a></li>
  <li><a class="menu__item" href="/sobre">Sobre</a></li>
  <li><a class="menu__item" href="/contato">Contato</a></li>
  <li><a class="menu__item" href="/criadores">Criadores</a></li>
  
               
<div class="wrapper">
<ul>

<li class="instagram"><a href="https://instagram.com/asasdaliberdade_apoio?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>    

</ul>
</div>        

</ul>



</div>
  </nav>




  </header>

  <div class="titulo">

    <h1>Tipos de Agressão</h1>
  </div>


<class class="tudo">

  <div class="sobre">
    <h3>Agressão física</h3>
<h3>São elas: empurrões,
chutes, socos, puxão de cabelos, beliscões e afins. </h3>
  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>
<class class="tudo">

  <div class="sobre">
    <h3>Agressão Verbal</h3>
<h3> Composto por xingamentos, apelidos maldosos,
provocações. </h3>
  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>

<class class="tudo">

  <div class="sobre">
    <h3>Agressão por escrita</h3>
<h3>Bilhetes de ameaças/piadinhas, desenhos
referentes a aparência e situações, pichações e cartazes. 
</h3>

  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>

  <class class="tudo">

  <div class="sobre">
    <h3>Agressão Material</h3>
    <h3> Ter seus pertences danificados,
furtados ou atirados contra si.</h3>

  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>

  <class class="tudo">

  <div class="sobre">
    <h3>Cyberbullying</h3>
    <h3> É por meios digitais, como e-mail,
fotos, vídeos e posts compartilhados que alcançam muita gente. Hoje a ofensa
online é mais comum em jovens estudantes.</h3>

  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>
  
<class class="tudo">

  <div class="sobre">
    <h3>Agressão Moral</h3>
    <h3>Difamação,
intimidação, caluniar imitando falas e manias do alvo.</h3>

  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>
<class class="tudo">

  <div class="sobre">
    <h3>Agressão Psicológica</h3>
    <h3>Todos os tipos de agressão
prejudicam sua saúde mental.</h3>

  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>



<class class="tudo">

  <div class="sobre">
    <h3>COMO RECONHECER UM AGRESSOR</h3>
    <h3>Eles podem apresentar atitudes agressivas, dificuldades em
seguir as normas sociais pensando somente nele mesmo, falta de empatia ao se relacionar
com todos.</h3>

  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>

   <footer>
    <div id="logo">
        <img src="https://cdn.discordapp.com/attachments/751847981484867684/1023711520317771817/asas_da_liberdade_.png" alt="">
    </div>

  </footer>
</body>
</html>