{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/contato.css'%}" rel="stylesheet" type="text/css"/>
</head>


<body>

  <header>

    <nav>
            
            
      <div class="hamburger-menu">
<input id="menu__toggle" type="checkbox" />




<label class="menu__btn" for="menu__toggle">
<span></span>
</label>

<ul class="menu__box">
 
 <li><a class="menu__item" href="/oquee">O que é Bulying</a></li>
 <li><a class="menu__item" href="/">Tipos de bullying</a></li>
 <li><a class="menu__item" href="/bulyn">Como combater o Bulying</a></li>
  <li><a class="menu__item" href="/sobre">Sobre</a></li>
  <li><a class="menu__item" href="/contato">Contato</a></li>
  <li><a class="menu__item" href="/criadores">Criadores</a></li>
  
               
<div class="wrapper">
<ul>

<li class="instagram"><a href="https://instagram.com/asasdaliberdade_apoio?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>    

</ul>
</div>        

</ul>



</div>
  </nav>




  </header>

  <div class="titulo">

    <h1>O que é Bulying</h1>
  </div>


<class class="tudo">

  <div class="sobre">
    <h3>O QUE É O BULLYING?</h3>
<h3>O bullying é um ato de agressão intencional com indivíduos
indefesos, por meio de ameaças, intimidações, descriminações e humilhações.</h3>
  </div>

  <div>
      <img src="../static/img/WhatsApp Image 2022-10-03 at 09.39.23.jpeg" alt=""/>
  </div>

</class>


<class class="tudo">

  <div class="sobre">
    <h3>ESPECTADOR</h3>
<h3>É quem fica de fora, na plateia assistindo, no silêncio ou nas
risadas, sem oferecer ajuda à vítima com medo de ser o próximo alvo.</h3>
<h3>Se a vítima receber apoio das pessoas ao seu redor, o autor do bullying ficará
sozinho assim parando de praticar o tal ato.</h3>
  </div>

  <div>
      <img src="../static/img/WhatsApp Image 2022-10-03 at 09.33.42.jpeg" alt=""/>
      </div>

</class>

  <class class="tudo">

  <div class="sobre">
    <h3>AUTOR</h3>
<h3>É o autor sabe que sua ação poderá machucar o outro, mas faz mesmo assim,
sem ligar para as consequências. </h3>
<h3>O agressor tem acapacidade de criar uma ilusão de que ele ou ela tem o apoio da maioria das
pessoas presentes que é o que faz ele continuar a praticar o ato.</h3>
  </div>

  <div>
      <img src="../static/img/WhatsApp Image 2022-10-03 at 09.28.22.jpeg" alt=""/>
      </div>

</class>

  
<class class="tudo">

  <div class="sobre">
    <h3>VÍTIMA</h3>
<h3>Algumas vítimas não se manifestam e não revidam, são indefesos. Já outros, tem
um temperamento mais alterado, assim revidando</h3>
  </div>

  <div>
      <img src="../static/img/WhatsApp Image 2022-10-03 at 09.30.13.jpeg" alt=""/>
      </div>

</class>



 <footer>
    <div id="logo">
        <img src="https://cdn.discordapp.com/attachments/751847981484867684/1023711520317771817/asas_da_liberdade_.png" alt="">
    </div>

  </footer>
</body>
</html>
