{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/contato.css'%}" rel="stylesheet" type="text/css"/>
</head>


<body>

  <header>

    <nav>
            
            
      <div class="hamburger-menu">
<input id="menu__toggle" type="checkbox" />




<label class="menu__btn" for="menu__toggle">
<span></span>
</label>

<ul class="menu__box">
 
 <li><a class="menu__item" href="/oquee">O que é Bulying</a></li>
 <li><a class="menu__item" href="/">Tipos de bullying</a></li>
 <li><a class="menu__item" href="/bulyn">Como combater o Bulying</a></li>
  <li><a class="menu__item" href="/sobre">Sobre</a></li>
  <li><a class="menu__item" href="/contato">Contato</a></li>
  <li><a class="menu__item" href="/criadores">Criadores</a></li>
  
               
<div class="wrapper">
<ul>

<li class="instagram"><a href="https://instagram.com/asasdaliberdade_apoio?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>    

</ul>
</div>        

</ul>



</div>
  </nav>




  </header>

  <div class="titulo">

    <h1>Tipos de bullying</h1>
  </div>


<class class="tudo">

  <div class="sobre">
    <h3>° Ainda fascinado com o tamanho e as possibilidades da cidade grande, uma realidade muito melhor do que a da seca de Pernambuco, Lula é convencido por um irmão, militante do então clandestino Partido Comunista Brasileiro, a frequentar reuniões no sindicato. Pela primeira vez, trava contato com as agruras da classe trabalhadora e aprende expressões como arrocho salarial, caristia e fundo de greve. Negociador habilidoso, é convidado a ocupar uma vaga de suplente na diretoria do sindicato que viria a ser eleita no início de1969, inaugurando assim sua trajetória de líder sindical.




      A Atividade Sindical
      A vida continua a impor desafios a Lula e cobra um preço alto. "Vai melhorar", ele ouve constantemente de sua mãe, Dona Lindu.
       Torneiro mecânico e suplente da diretoria do sindicato, Lula se casa aos 23 anos. Dois anos depois, perde a mulher, grávida de oito
        meses, vítima de uma hepatite agravada por uma anemia e pela negligência dos profissionais de saúde que a atenderam. O filho, um menino,
         também não resiste. Para driblar a depressão, mergulha no trabalho e, habilidoso, é convocado a assumir um cargo na diretoria do
          sindicato, trocando pela primeira vez o turno na fábrica por uma sala na sede da entidade. Elaborado o luto pela morte de Lourdes,
           volta a frequentar bares e festas e engata um namoro atrás do outro. Com Miriam Cordeiro, uma das namoradas, tem a primeira filha,
            Lurian. Casa-se pela segunda vez, com a também viúva Marisa Letícia, com quem teria três filhos (Lula também registraria o enteado
             Marcos, filho de Marisa que não chegou a conhecer o pai biológico). Em 1975, antes de completar 30 anos, é Lula quem assume a 
             presidência do sindicato..</h3>

      
     
  </div>

  <div>
    <img src="../static/img/64f1762b-6b4f-4e7e-b5b5-42f959e5360d.jfif" alt="">
  </div>

</class>




  
  




  <footer>
    <div id="logo">
        <img src="https://cdn.discordapp.com/attachments/751847981484867684/1023711520317771817/asas_da_liberdade_.png" alt="">
    </div>

  </footer>
  
</body>
</html>